#container{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    ion-item{
        padding-top: 10px;
    }
}
ion-footer ion-button{
    background-color: darkcyan;
    color: white;
    height: 50px;
    margin: 0px;
    color: white !important;
    font-size: medium;
}