
[profile-section]{
    position: relative;
    .profile{
        background: #fff;
        border: 5px solid #ececec;
        padding:0;
        width: 9em;
        height: 9em;
        display: flex;
        box-sizing: border-box;
        border-radius: 100%;
        margin: 0 auto;
        overflow: hidden;
        ion-icon{
            padding: 20px 20px 16px 17px;
            width: 100px;
            height: 100px;
        }
    ion-img {
        padding:0px;
        object-fit: cover !important;
        height: 135px !important;
        width: 135px !important;
    }
    }
    }

    ion-button{
        width: 45%;
        display: inline;
        margin: 0 auto;
        color: white;
    }
    .changePwdBtn{
        float: right;
        margin-right: 10px;
    }
    .editBtn{
        float:left;
        margin-left: 10px;
    }
    ion-label{
        color: darkgray !important;
        margin-bottom: 5px !important;
    }

    .saveBtn{
        float: right;
    }

    #container{
        margin-top: 15px;
    }
